/* BackgroundGrid - Plus Signs Pattern Background
   Reference: styles.css lines 93-106 */

.bgGrid {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
    pointer-events: none;
    background-image: url('/images/hero/bg.svg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    opacity: 0.1;
}
