/* ============================================
   FONTS - PP Neue Montreal (Local)
   ============================================ */

@font-face {
    font-family: 'PP Neue Montreal';
    src: url('/fonts/ppneuemontreal-bold.woff') format('woff');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'PP Neue Montreal';
    src: url('/fonts/ppneuemontreal-book.woff') format('woff');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}
